# Wreckfest Server Configuration Example
# **************************************

# Note #1: When launching the server, you can override server settings by using command line switch "-server_set [setting]=[value]" with multiple settings separated by a space
# Example: "server\Wreckfest.exe -s server_config=server_config.cfg -server_set server_name=myserver max_players=12 password=secret"

# Note #2: You can set the server save data path by using command line switch "--save-dir=[path]" (notice the two dashes). The path needs to exist, so create the folder beforehand
# Example: "server\Wreckfest.exe -s server_config=server_config.cfg --save-dir=d:\MyServer"

# Set basic server info
# Character limits: server_name (63), welcome_message (254), password (31)
server_name=My Wreckfest Server
welcome_message=Hi and welcome to my server
password=
max_players=24

# Set server ports
# Server is visible in LAN search only for query ports 27015-27020 and 26900-26905
steam_port=27015
game_port=33540
query_port=27016

# Server is excluded from being joined by users entering Quick Match
# 0 = not excluded, 1 = excluded
exclude_from_quickplay=0

# Clear previous user privileges when launching the server
# 0 = keep, 1 = clear
clear_users=0

# Give owner privileges to the first user who joins (for example yourself)
# 0 = first to join receives owner privileges, 1 = doesn't receive owner privileges
owner_disabled=0

# When enabled, admin starts the countdown by setting themselves ready
# 0 = automatic countdown, 1 = admin starts countdown
admin_control=0

# The duration of the countdown in seconds (allowed range 30 - 127)
lobby_countdown=30

# The percentage of players required to be ready to initiate automatic countdown, if enabled
ready_players_required=50

# A comma separated list of Steam IDs (steamID64) of users that will be automatically granted admin privileges
#admin_steam_ids=12345678912345678,12345678912345678

# A comma separated list of Steam IDs (steamID64) of users that will be automatically granted moderator privileges
#op_steam_ids=12345678912345678,12345678912345678

# Set session mode, list available modes with command: sessionmodes
# Session mode can be one of the following:
# normal = standard single event, cup mode disabled.
# qualify-sprint = qualifying sprint to determine grid order for the next race by finishing position when [grid_order] is set to <qualify>.
# qualify-lap = qualifying lap to determine grid order for the next race by lap times when grid_order is set to qualify.
# 30p-aggr = Winner 30, then 27, 25, 23, 20 and the rest one less point per position.
# 25p-aggr = Winner 25, then 18, 15, 12, 10, 8, 6, 4, 2, 1, and positions 11-24 no points.
# 25p-mod = Winner 30, then 20, 16, 11 and the rest one less point per position, positions 16-24 no points.
# 24p-lin = Winner 24, then one less point per position for next 23 players.
# 16p-lin = Winner 16, then one less point per position for next 15 players.
# 10p-double = Winner 20, then two less points per position for next 10 players.
# 10p-lin = Winner 10, then one less point per position for next 9 players.
# 35p-folk = Winner 35, then 30, 25, 20, 18, 16, then one less point per position and positions 22-24 no points.
# f1-1991 = Winner 10, then 6, 4, 3, 2, 1 and from 7th on no points.
# f1-2003 = Winner 10, then 8, 6, 5, 4, 3, 2, 1 and from 9th on no points.
# f1-2010 = Winner 25, then 18, 15, 12, 10, 8, 6, 4, 2, 1 and from 11th on no points.
# player_count_1 = Winner [player count], then one less point per position.
session_mode=normal

# Set grid order, list available orders with command: gridorders
# Grid order can be one of the following:
# random = Sort randomly.
# perf_normal = Sort by performance points, fastest at the front.
# perf_reverse = Sort by performance points, fastest at the back.
# qualifying = Determined by the qualifying session when [session_mode] was set to <qualify-sprint> or <qualify-lap> for the previous event.
# cup_normal = Sort by cup points, player with most points at the front.
# cup_reverse = Sort by cup points, player with most points at the back.
grid_order=perf_normal

# Whether players will vote for the next event after event has ended
# Voting can be triggered with "/startvote" command whenever players are in the lobby and lobby options are not locked
# Note that event rotation needs to be configured and enabled for voting
# 0 = no voting, 1 = use voting
enable_track_vote=1

# Whether to kick idling players while event is in progress
# 0 = kick idle players, 1 = do not kick idle players
disable_idle_kick=0

# Set track, list available track names with command: tracks
track=speedway2_demolition_arena

# Set game mode, list of available game modes:
# racing, derby, derby deathmatch, team derby, team race, elimination race
gamemode=derby deathmatch

# Prepopulate server with AI bots, 0-24
bots=0

# Set AI difficulty between novice, amateur and expert
ai_difficulty=amateur

# Number of teams in team racing and team deathmatch game modes, 2-4
num_teams=2

# Amount of laps in race game modes, 1-60
laps=3

# Deathmatch time limit in minutes
time_limit=5

# Elimination interval time for elimination race: 0, 20, 30, 45, 60, 90, 120
# 0 = elimination each lap, 20-120 = elimination internal in seconds
elimination_interval=0

# Set vehicle damage to normal, intense, realistic or extreme
vehicle_damage=normal

# Allow only vehicles with a maximum class of a, b, or c
# Leave blank for no restriction
car_class_restriction=

# Allow only one specific car, list available cars with command: cars
# Leave blank for no restriction
car_restriction=

# Disallow use of special vehicles
# 0 = allowed, 1 = disallowed
special_vehicles_disabled=0

# Disable car reset
# 0 = car reset enabled, 1 = car reset disabled
car_reset_disabled=0

# Set car reset delay
# 0 = no delay, 1-20 = delay in seconds
car_reset_delay=0

# Disable speed limiter for players that drive the wrong way
# 0 = speed limiter enabled, 1 = speed limiter disabled
wrong_way_limiter_disabled=0

# Set event weather, list available weather names with command: weathers
# Leave blank for random weather
weather=

# Set server update frequency to low or high
frequency=high

# Enable mod(s) on the server, mod folder names in a comma separated list
# Please note that you need to copy the folder of each mod
# to the mods folder in the server's installation location
#mods=example,my_mod

# Save server console output to a log file
# To disable logging leave the filename blank ("log=") but do not comment out the line
log=log.txt

# Event Loop (el) settings
#-------------------------------------------------------------------------------
#  If enabled, server will automatically rotate events as configured below
#  Each "el_add" setting signifies a new event and you can add as many as you wish
#  The other settings can used to override corresponding global settings configured above
#  Remove the first # from each line to uncomment and enable rotation
#  Use the command /eventloop to enable/disable rotation while in lobby

## Add first event to Loop
#el_add=gravel1_main_loop
#el_gamemode=racing
#el_laps=3
#el_bots=3
#el_car_reset_disabled=0
#el_wrong_way_limiter_disabled=0
#el_car_class_restriction=a
#el_car_restriction=
#el_weather=

## Add second event to Loop
#el_add=tarmac1_main_circuit
#el_gamemode=team race
#el_num_teams=2
#el_laps=3
#el_bots=3
#el_car_reset_disabled=0
#el_wrong_way_limiter_disabled=0
#el_car_class_restriction=a
#el_car_restriction=
#el_weather=

## Add third event to Loop
#el_add=speedway2_demolition_arena
#el_gamemode=derby deathmatch
#el_bots=3
#el_car_reset_disabled=0
#el_car_class_restriction=a
#el_car_restriction=
#el_weather=